<!-- views/search.ejs -->

<!-- Print the results from our YouTube API search. Title and YouTube 'watch' URL with our vidid. -->

<% for (var i in videos){ %>
<h2>
  <%- videos[i].snippet.title %>
</h2>
  
<p>
    <iframe width="560" height="340" src="https://www.youtube.com/embed/<%= videos[i].id.videoId %>" allowfullscreen></iframe>
</p>    
  <% } %>
